*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', serif;
    color: #f3f3f3;
    background: linear-gradient(to right, #AD8B6F, #745A41, #473423);
}

img,
picture {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

label {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}

.container {
    display: flex;
    /* background-color: #f3f320; */
    align-items: center;
    justify-content: center;
}

.container-form {
    border-radius: 2rem;
    width: 50vh;
    height: auto;
    background-color: #F5EDDE;
    /* overflow para conseguir dar uma margin-block no form */
    /* overflow: hidden; */
    margin-inline: 7rem;
    margin-block: 7rem;
}

.container-form form {
    background-color: #F5EDDE;
    border: 2px solid #AB6838;
    border-radius: 1rem;
    padding-block: 3rem;
    padding: 3rem;
    margin-inline: 2rem;
    margin-block: 2rem;
}

.line {
    border: 1px solid #AB6838;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.form-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #3A3128;
    align-items: center;
    justify-content: center;
}

.form-header img {
    width: 2.2rem;
    height: auto;
}

.input-group {
    padding-block: 1.5rem;
}
.span-required {
    font-size: 12px;
    color: #000;
    margin: 3px 0 0 1px;
    color: red;
    display: none;

}

.name-box {
    /* border: 1px solid rgb(237, 237, 237); */
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
}

.email-box {
    /* border: 1px solid rgb(237, 237, 237); */
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
}

.password-box {
    /* border: 1px solid rgb(237, 237, 237); */
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
}


label {
    color: #553028;
    font-size: 1.2rem;
}

input {
    border: 1px solid #553028;
    display: flex;
    border-radius: 10px;
}

input::placeholder {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    color: #AB6838;
    padding-inline: 1rem;
    padding-block: 0.2rem;
}

input:not(:placeholder-shown) {
    border: 1px solid #553028;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    font-size: 0.9rem;
    color: #ff9c55;

}

.btn-box {
    margin-block: 3rem;
}

.input-btn {
    background-color: #553028;
    width: 100%;
    height: auto;
    padding-block: 0.4rem;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}