/* pré definições */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', serif;
    color: #f3f3f3;
    background: linear-gradient(90deg, #212121, #000000, #212121);
}

img,
picture {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}

.container-all {
    display: flex;
    flex-direction: column;
    gap: 0; 
    min-height: 100vh;
    min-width: 100vh;
}

.h1 {
    text-align: center;
    font-size: 3.5rem;
}

.container-up {
    background-color: #212121;
    display: flex;
    min-height: 50vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

.container-down {
    background-color: #212121;
    min-height: 50vh;
    min-width: 100vh;
}

.container-info {
    background-color: #D4C5B0;
    color: #fff;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon {
    width: 6rem;
    
}

.email-box, .phone-box, .presencial-box {
    background-color: #A8876C;
    margin-block: 2rem;
    padding: 2rem;
    border-radius: 20px ;
}

.h2 {
    
    font-weight: 400;
    font-size: 1.4rem;
}

.p {
    font-weight: 400;
    font-size: 1rem;
    color: #D4C5B0;
}