*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', serif;
    color: #f3f3f3;
    background: linear-gradient(90deg, #212121, #000000, #212121);
}

img,
picture {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}




.container__h1 {
    background-color: #5A381D;
    
    
}

.h1 {
    font-size: 5rem;
    text-transform: initial;
    text-align: center;
    padding-block: 5rem;
    padding-inline: 5rem;
    
}

.container__form {
    background-color: #A1A17F;
}



.form {
    border: 1px solid black;
    margin-inline: 2rem;
    margin-block: 2rem;
    
}


/* editor para todos os label da form */
.label {
    color: #000000;
    font-weight: 400;

}